// color palette

$midnight: #2A2E41;
$light-blue: #989FB7;
$blue: #94ADF3;
$green: #65CEAD;
$orange: #EF9563;
$red: #EB6B98;
$yellow: #F4BE54;

$black: #444444;
$white: #FFFFFF;
$off-white: #F5F5F5;

$grey: #78839B;
$slate: #E5E7EC;
