// color palette

$black: #2A2E41;
$blue: #5098F5;
$green: #98f550;
$grey: #78839B;
$orange: #EF9563;
$red: #EB6B98;
$yellow: #F4BE54;
$white: #E5E7EC;

// grey-scale palette

$dev_white: #F9F9F9;
$dev_black: #434343;
$dev_light: #E0E1E1;
$dev_med1: #E5E5E5;
$dev_med2: #BDBDBD;
$dev_dark: #A7A7A7;
