
<div class="player">
  <video id="player-video" class="player__video view" src="videos/Xjf2kiDO19Y.mp4"></video>

  <div class="player__controls">
    <div class="progress">
      <div id="progress-fill" class="progress__fill"></div>
    </div>

    <div id="player-button" class="player__button clickable"></div>

  </div>
</div>
