// imports for all mixins + global project variables

// Font weights
$light: 300;
$regular: 500;
$bold: 700;

// Base Font
$base-font-family: 'YouTube Sans';
$base-font-weight: $light;
$base-font-size: 1em;
$base-line-height: 1.5;

// header
$header-font-weight: $bold;

// Borders
$border-width: 1px;
$border-radius: 8px;

@import "modules/all";
